<!DOCTYPE html>
<htmltml lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello!</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <section class="intro">
      <p class="intro-title">
        dayshq
      </p>
    
      <p>
        Get a card to spend points
      </p>
    </section>
    <section class="card-container">
      <div class="card">
        <p>Your Name</p>
        <p>mm/yy</p>
        <p class="brand">
          dayshq
        </p>
      </div>
    </section>
    <section class="join-form">
      <p class="title">
        Submit form to join
      </p>
     <form>
       <label>Your Name</label></br>
      <input type="text"></br></br>
       <label>Your Password</label></br>
       <input type="password"></br>
       <button>Submit</button>
     </form>
    </section>
  </body>
</html>

